        /* =====================================================
           TOAST
        ===================================================== */

        #toast {
            position: fixed;

            top:
                calc(
                    76px +
                    env(safe-area-inset-top)
                );

            left: 50%;

            transform:
                translateX(-50%);

            z-index: 6000;

            display: none;

            padding: 9px 14px;

            border-radius: 999px;

            background: #171717;
            color: white;

            font-size: 11px;
        }
